
body.light {
  background-color: #f3ebf6; 
  color: #333333; 
}

body.dark {
  background-color: #46045e; 
  color: #f3ebf6; 
}

.container {
  max-width: 1080px;
  margin: 20px auto;
  background-color: inherit; 
  color: inherit; 
}

.theme-switch-label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px; 
} 
